body {
    background: url("/images/background.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-family: 'Microsoft YaHei', sans-serif;
}

.container {
    padding: 3em 0 0;
}

#kt-nav {
    background: rgba(60, 90, 120, 0.4);
    padding: 1.5em;
}

#kt-tab{
    background: rgba(60, 90, 110, 0.6);
    padding: 1.5em;
}

/*-- footer --*/
#kt-footer {
    margin: 2em 0;
    text-align: center;
}

#kt-footer p {
    font-size: 1em;
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 400;
}

#kt-footer p a {
    color: #ddd;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

#kt-footer p a:hover {
    color: #FE7200;
}
/*-- end of footer --*/

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}