body {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-family: 'Microsoft YaHei', sans-serif;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* nav color */
.nav a {
    color: white;
}

.nav a:hover {
    color: gray;
}

.nav-pills .nav-link.active {
    background-color: rgba(255, 255, 255, 0.4);
}

/* end of nav color */

.container {
    padding: 3em 0 0;
}

#kt-main {
    height: 453px;
}

#kt-nav {
    background: rgba(26, 45, 39, 0.4);
    padding: 1.5em;
}

#kt-nav div {
    height: 100%;
}

#kt-nav div a {
    height: 20%;
    overflow: hidden;
    display: block;
    line-height: 400%;
}

#kt-tab {
    background: rgba(60, 90, 120, 0.4);
    padding: 1.5em;
}

/* about */
.kt-avatar {
    width: 42.5%;
    float: left;
    margin-right: 2.5%;
}

.kt-information {
    width: 55%;
    float: left;
    text-align: left;
    padding-top: 25px;
}

.kt-information p {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.kt-information .doing {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5em;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.9);
}

/* end of about */

.coming-soon {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 200px;
    height: 125px;
}

.coming-soon p {
    text-align: center;
    color: white;
    line-height: 800%;
}

/* skill */
.kt-skill p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #fff;
    line-height: 1.8em;
}

.kt-skill .progress {
    height: 6px;
    margin-bottom: 3em;
    transition: width 1s;
}

.kt-skill .progress-bar {
    background: #FFA631;
}

/* end of skill */

/* contact */
.kt-contact {
    padding: 10% 0 0 10%;
}

.kt-contact ul {
    display: block;
    letter-spacing: 0.5px;
}

.kt-contact ul li {
    padding: 0 0 5% 0;
}

.kt-contact ul li .key {
    font-family: 'Montserrat', sans-serif;
    width: 25%;
    float: left;
    font-size: 1em;
    color: #EEE;
}

.kt-contact ul li .separator {
    width: 10%;
    float: left;
    text-align: center;
    font-size: 1em;
    color: #CCC;
}

.kt-contact ul li .value {
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    float: left;
    font-size: 1em;
    color: #CCC;
}

.kt-contact ul li .value a {
    color: #CCC;
}

.kt-social {
    margin-top: 40px;
}

.kt-social ul {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.kt-social ul li {
    width: 25%;
    display: block;
    float: left;
}

.kt-social .icons {
    width: 50px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.50);
}

/* end of contact */

/*-- footer --*/
#kt-footer {
    margin: 2em 0;
    text-align: center;
}

#kt-footer p {
    font-size: 1em;
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 400;
}

#kt-footer p a {
    color: #ddd;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

#kt-footer p a:hover {
    color: #FE7200;
}

/*-- end of footer --*/

@media (min-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .kt-contact {
        padding: 10% 0 0 0;
    }
}