body {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100%;
}

h1 {
    color: #fff;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 3em;
    font-weight: 100;
    text-align: center;
}

h1 a {
    color: #fff;
}

h1 a:hover {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* nav color */
.nav a {
    color: white;
}

.nav a:hover {
    color: gray;
}

.nav-pills .nav-link.active {
    background-color: rgba(255, 255, 255, 0.4);
}

/* end of nav color */

.container {
    padding: 3em 0 0 0;
}

#kt-main {
    height: 453px;
    margin: 1em 0;
}

#kt-nav {
    background: rgba(26, 45, 39, 0.4);
    padding: 1.5em;
}

#kt-nav div {
    height: 100%;
}

#kt-nav div a {
    display: block;
    height: 20%;
    line-height: 400%;
    overflow: hidden;
}

#kt-tab {
    background: rgba(60, 90, 120, 0.4);
    padding: 1.5em;
}

.tab-content {
    height: 100%;
}

.tab-pane {
    height: 100%;
}

/* about */
.kt-about .kt-avatar {
    float: left;
    margin-right: 2.5%;
    width: 42.5%;
}

.kt-about .kt-information {
    float: left;
    padding-top: 25px;
    text-align: left;
    width: 55%;
}

.kt-about .kt-information p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-align: left;
}

.kt-about .kt-information .doing {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.8em;
    letter-spacing: 0.5px;
    padding: 0.5em;
    text-align: center;
}

/* end of about */

.kt-project .block {
    height: 100px;
    width: 100%;
}

.kt-project .coming-soon {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    height: 125px;
    margin: 0 auto;
    width: 200px;
}

.kt-project .coming-soon p {
    color: white;
    line-height: 800%;
    text-align: center;
}

/* skill */
.kt-skill p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.8em;
}

.kt-skill .progress {
    height: 6px;
    margin-bottom: 3em;
}

.kt-skill .progress-bar {
    background: #FFA631;
}

/* end of skill */

/* contact */
.kt-contact {
    padding: 10% 0 0 10%;
}

.kt-contact ul {
    letter-spacing: 0.5px;
}

.kt-contact ul li {
    padding: 0 0 5% 0;
}

.kt-contact ul li .key {
    color: #FFF;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    width: 25%;
}

.kt-contact ul li .separator {
    color: #DDD;
    float: left;
    font-size: 1em;
    text-align: center;
    width: 10%;
}

.kt-contact ul li .value {
    color: #EEE;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    width: 60%;
}

.kt-contact ul li .value a {
    color: #CCC;
}

.kt-social {
    margin-top: 40px;
}

.kt-social ul {
    margin: 0 auto;
    text-align: left;
    width: 90%;
}

.kt-social ul li {
    float: left;
    width: 25%;
}

.kt-social .icons {
    border: 2px solid rgba(0, 0, 0, 0.50);
    border-radius: 50%;
    width: 50px;
}

/* end of contact */

/*-- footer --*/
#kt-footer {
    margin: 2em 0;
    text-align: center;
}

#kt-footer p {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.8em;
}

#kt-footer p a {
    color: #ddd;
}

#kt-footer p a:hover {
    color: #FE7200;
}

/*-- end of footer --*/

@media (min-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .kt-contact {
        padding: 10% 0 0 0;
    }
}

@media (max-width: 576px) {
    .flex-column {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
    }

    .row {
        margin-left: unset;
        margin-right: unset;
    }

    #kt-main {
        height: 400px;
        margin: unset;
    }

    #kt-nav {
        height: 70px;
        padding: 0;
    }

    #kt-nav div a {
        font-size: 0.8em;
        height: 100%;
        text-align: center;
        width: 20%;
    }

    .kt-about .kt-avatar {
        display: none;
    }

    .kt-about .kt-information {
        padding-top: unset;
        width: 100%;
    }

    .kt-project {
        height: 314px;
    }

    .kt-skill .progress {
        margin-bottom: 1em;
    }

    .kt-contact {
        padding: 5% 0 0 2%;
    }

    .kt-contact ul {
        padding: unset;
    }

    .kt-contact ul li .value {
        width: auto;
    }

    .kt-social {
        margin-top: 26px;
    }

    .kt-social ul {
        margin: unset;
    }

    .kt-social .icons {
        width: 40px;
    }
}
